
body {
  background-color: #392E22;
  margin: 0;
  padding: 0;
}


h1 {
  color: #392E22;
  font-size: 32px;
  text-align: center;
  font-family: Georgia,sans-serif;
  padding:0px;
}

h2 {
  border: 3px solid #FFF8DC;
  color: #FFF8DC;
  font-size: 40px;
  line-height: 70px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

h3 {
  color: #FFF8DC;
  font-size: 18px;
  padding: 20px 10px;

}


p {
  text-align: left;
  color:#FFF8DC ;
  font-size: 28px;
  line-height: 48px;
  margin-top: 40px;
  padding: 10px 20px;
  margin-left: 2px;
  position:absolute;
}

.links ul{
  color: #FFF8DC;


}

 .links li{
  color: #FFF8DC;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 60px;
  padding-right: 60px;

}


.links a:hover{
  border-bottom: 3px solid #392E22;
}

.links a{
  color: #392E22;
  font-family: Georgia,sans-serif;
  text-decoration: none;
  padding-bottom: 4px;
}

header{
    border: 1px solid #392E22;
    background-color:#FFF8DC;
    width:100%;
    height: 130px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    text-align: center;

}

nav{
  display: inline-block;

}

header .navbar{
  display:none;
  color: #392E22;
  font-size: 2rem;
  cursor: pointer;
  position : absolute;
  right: 20px;
  top:70px;
}


.drop_menu{

  height: 0;
  position: absolute;
  right: 0px;
  top:130px;
  width: 400px;
  background:#392E22;
  backdrop-filter: blur(10px);
  border-radius: 1px;
  overflow:hidden;
}


.drop_menu.open{
  width:400px;
  height: 2700px;

}

.drop_menu li{
  font-size: 20px;
  padding-top: 35px;
  padding-right:2px;
  display:flex;
  align-items: right;
  justify-content: center;
  text-transform: uppercase;
}

.drop_menu ul{
  color: #FFF8DC;
  text-transform: bold;
}

.drop_menu a{
   font-size: 25px;
   color: #FFF8DC;
}

.drop_menu a:hover{
  color:white;
}

@media(max-width:1200px){
  nav .links {display: none;}
  header .navbar{display:block;}
  .nav .drop_menu{display:block;}
}

.nav .navbar{
    display:block;
}



.img{
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  width: 100%;
}

.img img{
  opacity:0.45;
  width: 100%;

}

.img p{
 text-align: left;
 color:#FFF8DC ;
 font-size: 28px;
 line-height: 48px;
 margin-top: 20px;
 padding: 10px 20px;
 margin-left: 2px;
 margin-right: 700px;
 position:absolute;
 opacity: 1;
 text-decoration: : bold;
}

.horaires{
  scroll-margin-top: 136px;

}

.horaires h3{
  text-align: left;

}
.horaires img{
}

.block_horaires{


}

.acces{
  position: relative;
  scroll-margin-top: -20px;
}
.acces img{
  width: 100%;
}

.contact{
   scroll-margin-top: 115px;
}

footer{
  border: 1px solid #392E22;
  background-color:#FFF8DC;
  width:100%;
  height: 490px;
  margin-top: 50px;
  left: 0px;

}
footer h2{
  border: 3px solid ;
  color:#392E22;
  font-size: 40px;
  line-height: 70px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}


footer h3{
  color: #392E22;
  font-size: 22px;
  padding: 10px 10px;
  text-align: center;

}
